<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.java.book.mapper.BookMapper">
	<!-- 전체조회 -->
	<select id="selectAllBook" resultType="BookVO">
		SELECT book_no,
			   book_name,
			   book_coverimg,
			   book_date,
			   book_price,
			   book_publisher,
			   book_info
		FROM BOOK_TBL_06
		ORDER BY 1
	</select>
	
	<!-- 도서번호 -->
	<select id="getBookNo" resultType="int">
		SELECT NVL(MAX(book_no),0)+1
		FROM BOOK_TBL_06
	</select>
	
	<!-- 등록 -->
	<insert id="insertBookInfo" parameterType="BookVO">
		INSERT INTO BOOK_TBL_06(
				book_no
				,book_name
			<if test="bookCoverimg != null and !bookCoverimg.equals('')">
				,book_coverimg			
			</if>
			<if test="bookDate != null">
				,book_date
			</if>
			<if test="bookPrice >= 0">
				,book_price
			</if>
			<if test="bookPublisher != null and !bookPublisher.equals('')">
			  	,book_publisher
			</if>
			<if test="bookInfo != null and !bookInfo.equals('')">
			  	,book_info
			</if>
			)
		VALUES(
				#{bookNo}
				,#{bookName}
			<if test="bookCoverimg != null and !bookCoverimg.equals('')">
				,#{bookCoverimg}
			</if>
			<if test="bookDate != null">
				,#{bookDate}
			</if>
			<if test="bookPrice >= 0">
				,#{bookPrice}
			</if>
			<if test="bookPublisher != null and !bookPublisher.equals('')">
				,#{bookPublisher}
			</if>
			<if test="bookInfo != null and !bookInfo.equals('')">
				,#{bookInfo}
			</if>
			)
	</insert>
	
	<select id="selectAllRent" resultType="RentVO">
		SELECT b.book_no,
			   b.book_name,
			   SUM(r.rent_price) as rent_total_price,
			   COUNT(r.rent_status) as rent_count
		FROM BOOK_TBL_06 b LEFT OUTER JOIN RENT_TBL_06 r
		ON b.book_no=r.book_no
		GROUP BY b.book_no, b.book_name
		ORDER BY b.book_no
	</select>
</mapper>